.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
  &__list {
    flex-basis: calc((100% - 30px) / 2);
    width: 210px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $clientsLogoColor;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: $activeColor;
    }
  }
  &__logo {
    fill: $clientsLogoColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.clients__list:hover .clients__logo,
.clients__list:focus .clients__logo {
  fill: $activeColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    &__list {
      flex-basis: calc((100% - 60px) / 3);
      width: 226px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;

    padding-top: 50px;
    &__list {
      flex-basis: calc((100% - 150px) / 6);
      width: 170px;
    }
  }
}
