.team {
  background-color: $teamSectionBgc;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
    padding-top: 30px;
    &__item {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}
.team-box {
  width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__image {
    width: 450px;
    height: 460px;
  }
  &__description {
    background-color: $teamBoxBgc;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 30px 0 10px 0;
  }
  &__job-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $paragraphColor;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team {
    &__content {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
  .team-box {
    width: 354px;

    &__image {
      width: 354px;
      height: 374px;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .team {
    &__content {
      flex-direction: row;
      padding-top: 50px;
      padding-bottom: 94px;
    }
    &__item {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
  .team-box {
    width: 270px;

    &__image {
      width: 270px;
      height: 260px;
    }
  }
}
