.filter-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  padding-bottom: 60px;
  &__item {
    flex-basis: calc((100% - 8 * 30px) / 9);
  }
}
.portfolio {
  width: 450px;
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__image {
    width: 450px;
    height: 294px;
  }
  &__box-overlay {
    position: absolute;
    width: 450px;
    height: 294px;
    background-color: $boxOverlayBgc;
    left: 0;
    top: 0;
    bottom: 110;
    z-index: 1;
    transform: translateY(150%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__text-overlay {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 00.03em;
    color: $textOverlayColor;
    margin: 77px 24px 77px 24px;
  }
  &__text-item {
    width: 450px;
    border: 1px solid $portfolioFilterBorder;
    padding: 20px 0 20px 24px;
    background-color: #ffffff;
    position: relative;
    z-index: 100;
  }
  &__description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
  }
  &__type {
    color: $portfolioTypeColor;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}

.portfolio:hover .portfolio__box-overlay {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-content {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      flex-basis: calc((100% - 1 * 30px) / 2);
    }
  }
  .portfolio {
    width: 354px;

    &__image {
      width: 354px;
    }
    &__box-overlay {
      width: 354px;
    }
    &__text-overlay {
      margin: 49px 24px 49px 24px;
    }
    &__text-item {
      width: 354px;
      border: 1px solid $portfolioFilterBorder;
    }
  }
}

@media screen and (min-width: 1200px) {
  .filter-content {
    flex-wrap: wrap;
    flex-direction: row;

    padding-bottom: 94px;
    &__item {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }
  }
  .portfolio {
    width: 370px;

    &__image {
      width: 370px;
    }
    &__box-overlay {
      width: 370px;
    }
    &__text-overlay {
      margin: 49px 45px 49px 24px;
    }
    &__text-item {
      width: 370px;
    }
  }
}
