.contacts {
  background-color: $footerBgcColor;
}

.footer-box {
  display: block;
  padding: 60px 0;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts {
    min-height: 463px;
  }
  .footer-box {
    position: relative;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer-box {
    display: flex;
    flex-direction: row;
  }
}
