.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.17;
  }
}
