.form-item {
  position: relative;
  margin-left: 40px;
  display: flex;
  align-items: center;
  &__text::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    outline: 1px solid #000000;
    border-radius: 2px;
    margin-right: 8px;
    z-index: -1;
  }
  &__policy {
    appearance: none;
  }
}

.form-item__policy:checked + .form-item__text::before {
  background-color: $activeColor;
  outline: none;
  background-image: url(../icon-checked.svg);
  background-repeat: no-repeat;
  background-position: 3px 4px;
  background-size: 11px 8px;
}
.acceptation-text {
  &__item {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $contactColor;
  }
  &__link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $activeColor;
  }
}
@media screen and (min-width: 1200px) {
  .form-item {
    margin-left: 55px;
  }

  .acceptation-text {
    &__item {
      font-size: 14px;
      line-height: 1.71;
    }
    &__link {
      font-size: 14px;
      line-height: 1.71;
    }
  }
}
