$mainColor: #212121;
$logoColor: #fff;
$logoHeadingColor: #000;
$logoMainColor: #2196f3;
$logoFont: 'Raleway', 'Arial', sans-serif;
$activeColor: #2196f3;
$contactColor: #757575;
$pageUnderlineRadius: 2px;
$lineColor: #ececec;
$buttonColor: #2196f3;
$buttonTextColor: #fff;
$headingBgcColor: #2f303a;
$headingTitleColor: #fff;
$modalBgcColor: #fff;
$mainIconBgc: #f5f4fa;
$paragraphColor: #757575;
$imagesTextColor: #fff;
$imagesBgcColor: rgba(47, 48, 58, 0.8);
$teamSectionBgc: #f5f4fa;
$teamBoxBgc: #fff;
$teamIconColor: #afb1b8;
$teamIconActiveColor: #fff;
$clientsLogoColor: #afb1b8;
$footerBgcColor: #2f303a;
$footerTextColor: #fff;
$footerIcon: rgba(255, 255, 255, 0.6);
$footerHeaderColor: #fff;
$footerIconBoxColor: rgba(255, 255, 255, 0.1);
$footerIconColor: #fff;
$filterBgcColor: #f5f4fa;
$filterActiveColor: #fff;
$boxOverlayBgc: rgba(33, 150, 243, 0.9);
$textOverlayColor: #fff;
$portfolioFilterBorder: #eeeeee;
$portfolioTypeColor: #757575;
